body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
.name h2{
	text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;	
}

#searcharea {
	position: absolute;
	top:0px;
	left:35%;
	width: 30%;
}

#searcharea label {
	font: bold 1.3em Arial;
	text-transform: uppercase;
	padding-bottom: 5px;
	color: #A61C1C;
}

#searcharea p {
	margin: 0;
	line-height: 1em;
	padding-bottom: 5px;
}

#searcharea input {
	width: 80%;
}